<div style="display: flex; ">
  <h1 style="flex: 1;">Million &euro; for Ukraine</h1>
  <div class="donate-quick-link">
    <button onclick="location.href='#donate-form'">Donate</button>
  </div>
</div>
<div class="center-horizontally">
  <div class="scaledpicture">

  </div>
</div>
<div class="center-horizontally donate-form" id="donate-form">
  <div>
    <div>Upload picture: [upload field goes here]</div>
    <div>Name: <input type="text" /></div>
    <div>Nationality: <input type="text" /></div>
    <div>Your Message:<br/><textarea></textarea><!-- make sure all fields are sanitised on the server to prevent xss attacks --></div>
    <div>Size: 1x1, 2x2, 3x3</div>
    <div>Donation amount: [depends on the size]</div>
    <div class="center-horizontally"><button>Donate with Paypal</button></div>
  </div>
</div>
<div class="right-aligned">
  <a href="">Report Abuse</a>
</div>
