<div>
  <div style="display: flex; ">
    <h1 style="flex: 1;">Million &euro; for Ukraine</h1>
    <div class="donate-quick-link">
      <button onclick="location.href='#donate-form'">Donate</button>
    </div>
  </div>
  <div class="center-horizontally main-section">
    <div class="scaledpicture">
      <img [src]="thumbnailurl">
    </div>
    <div class="messages">
      <h3>Latest donations</h3>
      <div class="message-list">
        <div class="message-body" *ngFor="let msg of latestDonations">
          <div class="name">{{msg.name}}:</div>
          <div class="text">{{msg.message}}</div>
        </div>
      </div>

      <div class="center-horizontally donate-form" id="donate-form">
        <div>
          <h3>Donate</h3>
          <div>
            Upload picture:<br/>
            <input type="file" (change)="onUploadedPictureChange($event)">
          </div>
          <div>Name: <input type="text" maxlength="50" (keyup)="onNameKeyUp($event)" /></div>
          <div>Email: <input type="text" maxlength="50" (keyup)="onEmailKeyUp($event)" /></div>
          <div>Nationality: <input type="text" type="text" maxlength="50" (keyup)="onNationalityKeyUp($event)" /></div>
          <div>Your Message:<br/><textarea  type="text" maxlength="500" rows="6" (keyup)="onMessageKeyUp($event)"></textarea><!-- make sure all fields are sanitised on the server to prevent xss attacks --></div>
          <div>
            Size:<br/>
            <select (change)="onSizeChange($event)">
              <option value="1x1">1x1</option>
              <option value="2x2">2x2</option>
              <option value="3x3">3x3</option>
            </select>
          </div>
          <div>Donation amount: [depends on the size]</div>
          <div class="center-horizontally"><button (click)="upload()">Donate with Paypal</button></div>
        </div>
      </div>

    </div>
  </div>
  <div class="right-aligned">
    <a href="">Report Abuse</a>
  </div>
</div>
