.main {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.main-section {
  padding: 1em;
  flex: 1;
  align-items: stretch;
}

img.scaledpicture {
  border: 1px solid gray;
  flex: 0.75;
  width: 75%;
  height: 100%;
  object-fit: cover;
}

.message-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 250px;
}

.messages {
  flex: 0.25;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages h3 {
  text-align: center;
}

.messages .message-body {
}

.messages .message-body .name {
  font-weight: bold;
}

.messages .message-body .text {
}

.donate-quick-link {
  margin: 1em;
  display: flex;
  justify-content: center;
}

.donate-form {
  margin: 1em;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}

.donate-form > div {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.donate-form > div > div.label {
  min-width: 140px;
  width: 140px;
}

.donate-form > div > div.value {
  flex: 1;
}

.donate-form > div > div.value input {
  width: 100%;
}

.donate-form > div > div.value textarea {
  width: 100%;
}

.donate-form > div > div.value select {
  width: 100%;
}


.right-aligned {
  display: flex;
  justify-content: flex-end;
}

.wait-mask-background {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: #000000;
}

.wait-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.wait-mask-message-container {
  width: 300px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wait-mask-message {
  width: 75%;
  text-align: center;
}
