/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0px;
  font-size: 1.2em;
  overflow: hidden;
}


input {
  font-size: 1.2em;
}

button {
  font-size: 1.2em;
}

select {
  font-size: 1.2em;
}

textarea {
  font-size: 1.2em;
}
